<%- include('../layout/header') %>
    <div class="container my-4">
        <form action="/animals/add" method="post">
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" name="name">
            </div>
            <div class="mb-3">
                <label class="form-label">Age</label>
                <input type="text" class="form-control" name="age">
            </div>
            <div class="mb-3">
                <label class="form-label">Sex</label>
                <input type="text" class="form-control" name="sex">
            </div>
            <div class="mb-3">
                <label class="form-label">Image</label>
                <input type="text" class="form-control" name="imageUrl">
            </div>
            <div class="mb-3">
                <label class="form-label">Class Type</label>
                <select name="classTypeId">
                    <% classTypeData.forEach(classType=>{ %>
                        <option value="<%= classType.id%>">
                            <%= classType.name%>
                        </option>
                        <%})%>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Hibitat</label>
                <select name="habitatId">
                    <% habitatData.forEach(habitat=>{ %>
                        <option value="<%= habitat.id%>">
                            <%= habitat.name%>
                        </option>
                        <%})%>
                </select>
            </div>
            <div class="mb-3">
                <input class="btn btn-success" type="submit" value="Submit">
            </div>
        </form>
    </div>
    <%- include('../layout/footer') %>