<%- include('../layout/header') %>
    <h1>DETAIL</h1>
    <div class="container">
        <div class="fs-1 fw-bold text-center">
            <%=resultAF.name%>
        </div>
        <div class="row">
            <div class="col-sm">
                <img src="<%=resultAF.imageUrl%>" alt="" width="500">
            </div>
            <div class="col-sm">
                <table class="table">
                    <tr>
                        <td>Age</td>
                        <td>=</td>
                        <td>
                            <%=resultAF.age%>
                        </td>
                    </tr>
                    <tr>
                        <td>Sex</td>
                        <td>=</td>
                        <td>
                            <%=resultAF.sex%>
                        </td>
                    </tr>
                    <tr>
                        <td>Food</td>
                        <td>=</td>
                        <td>
                            <ul class="list-group">
                                <%resultAF.foods.forEach(food=>{%>
                                    <li class="list-group-item">
                                        <%=food.name%>
                                    </li>
                                    <%})%>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <%- include('../layout/footer') %>