<%- include('../layout/header') %>
    <div class="container">
        <div class="fs-1 fw-bold text-center m-4">
            <%=resultAF.name%>
        </div>

        <div class="row">
            <div class="col-sm">
                <img src="<%=resultAF.imageUrl%>" class="object-fit-cover border rounded" alt="" width="500">
            </div>
            <div class="col-sm">
                <table class="table table-borderless">
                    <tr>
                        <td>Age</td>
                        <td>:</td>
                        <td>
                            <%=resultAF.age%>
                        </td>
                    </tr>
                    <tr>
                        <td>Sex</td>
                        <td>:</td>
                        <td>
                            <%=resultAF.sex%>
                        </td>
                    </tr>
                    <tr>
                        <td>Class Type</td>
                        <td>:</td>
                        <td>
                            <a class="list-group-item list-group-item-action list-group-item-light rounded" href="/classtypes/detail/<%=classTypeData[0].id%>"><%=classTypeData[0].name%></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Habitat</td>
                        <td>:</td>
                        <td>
                            <a class="list-group-item list-group-item-action list-group-item-light rounded" href="/habitats/detail/<%=habitatData[0].id%>"><%=habitatData[0].name%></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Food</td>
                        <td>:</td>
                        <td>
                            <ul class="list-group">
                                <%resultAF.foods.forEach(food=>{%>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <a href="/foods/detail/<%= food.id %>" class="list-group-item list-group-item-action list-group-item-light" ><img src="<%= food.imageUrl%>" class="object-fit-cover rounded " alt="..."style="width: 60px; height: 60px;" /><h class="m-2"><%=food.name%></h> </a>
                                            <a class=" btn btn-sm btn-danger"
                                                href="/animalfoods/AF/delete/<%= resultAF.id %>/<%= food.id %>">-
                                                Delete</a>
                                    </li>
                                    <%})%>
                            </ul>
                            <a class="btn btn-sm btn-success my-2" href="/animalfoods/AF/add/<%= resultAF.id %>">+
                                Add</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <%- include('../layout/footer') %>