<%- include('../layout/header') %>
    <h1>FOOD</h1>
    <a class="btn" href="/foods/add">Add</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Type</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% result.forEach(food=>{ %>
                <tr>
                    <td>
                        <%= food.id%>
                    </td>
                    <td>
                        <%= food.name%>
                    </td>
                    <td>
                        <%= food.type%>
                    </td>
                    <td>
                        Remove the pirate
                        </a>
                    </td>
                </tr>
                <%}) %>
        </tbody>
    </table>
    <%- include('../layout/footer') %>