<%- include('../layout/header') %>
    <div class="container my-4">
        <form action="/foods/update/<%=foods.id%>" method="post">
            <fieldset disabled>
                <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">ID</label>
                    <input type="text" id="disabledTextInput" class="form-control" name="id" value="<%=foods.id%>">
                </div>
            </fieldset>
            <div class="mb-3">
                <label class="form-label">Food Name</label>
                <input type="text" class="form-control" name="name" value="<%=foods.name%>">
            </div>
            <div class="mb-3">
                <label class="form-label">Food Type</label>
                <input type="text" class="form-control" name="type" value="<%=foods.type%>">
            </div>
            <div class="mb-3">
                <label class="form-label">Image URL</label>
                <input type="text" class="form-control" name="imageUrl" value="<%=foods.imageUrl%>">
            </div>

            <div class="mb-3">
                <input class="btn btn-success" type="submit" value="Update">
            </div>


        </form>
    </div>
    <%- include('../layout/footer') %>