<%- include('../layout/header') %>
    <div class="container">
        <form action="/animalfoods/AF/add/<%=animalData.id%>" method="post">
            <fieldset disabled>
                <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">ID</label>
                    <input type="text" id="disabledTextInput" class="form-control" name="id" value="<%=animalData.id%>">
                </div>
                <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">Name</label>
                    <input type="text" id="disabledTextInput" class="form-control" name="name"
                        value="<%=animalData.name%>">
                </div>
            </fieldset>
            <div class="mb-3">
                <label class="form-label">Add food</label>
                <select name="foodId">
                    <% foodData.forEach(food=>{ %>
                        <option value="<%= food.id%>">
                            <%= food.name%>
                        </option>
                        <%})%>
                </select>
            </div>
            <div class="mb-3">
                <input class="btn btn-success" type="submit" value="Submit">
            </div>
        </form>
    </div>
    <%- include('../layout/footer') %>