<%- include('../layout/header') %>
    <div class="container">
        <form action="/animals/update/<%=animalData.id%>" method="post">
            <fieldset disabled>
                <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">ID</label>
                    <input type="text" id="disabledTextInput" class="form-control" name="id" value="<%=animalData.id%>">
                </div>
            </fieldset>
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" name="name" value="<%=animalData.name%>">
            </div>
            <div class="mb-3">
                <label class="form-label">Age</label>
                <input type="text" class="form-control" name="age" value="<%=animalData.age%>">
            </div>
            <div class="mb-3">
                <label class="form-label">Sex</label>
                <input type="text" class="form-control" name="sex" value="<%=animalData.sex%>">
            </div>
            <div class="mb-3">
                <label class="form-label">Image</label>
                <input type="text" class="form-control" name="imageUrl" value="<%=animalData.imageUrl%>">
            </div>
            <div class="mb-3">
                <label class="form-label">Class Type</label>
                <select name="classTypeId">
                    <% classTypes.forEach(classType=>{ %>
                        <option value="<%= classType.id%>">
                            <%= classType.name%>
                        </option>
                        <%})%>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Hibitat</label>
                <select name="habitatId">
                    <% habitats.forEach(habitat=>{ %>
                        <option value="<%= habitat.id%>">
                            <%= habitat.name%>
                        </option>
                        <%})%>
                </select>
            </div>
            <div class="mb-3">
                <input class="btn btn-success" type="submit" value="Submit">
            </div>
        </form>
    </div>
    <%- include('../layout/footer') %>